# Copyright (c) 2026 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_MICROCHIP_PIC32MZ_EF
	bool

config SOC_FAMILY
	default "microchip_pic32mz_ef" if SOC_FAMILY_MICROCHIP_PIC32MZ_EF

rsource "*/Kconfig.soc"
