# Copyright (c) 2026 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config MDIO_PIC32CK_GC
	bool "Microchip PIC32CK GC MDIO driver"
	depends on ETH_PIC32CK_GC_GMAC
	default y
	help
	  Enable Microchip PIC32CK GC MDIO driver.
